:root {
  --cell-bg-color: #FAEBD7;
  --container-resolution: 500px;
  --grid-resolution: 16;
  --options-hg: 20px;
}

* {
  font-family: 'JetBrains Mono', monospace;
}

*::selection {
  background-color: black;
  color: white;
}

#cell {
  background-color: var(--cell-bg-color);
  position: relative;
  height: calc(100%/var(--grid-resolution));
  width: calc(100%/var(--grid-resolution));
  /*height: 6.25%;
  width: 6.25%;*/
}

#cell:hover {
  background-color: blue;
}


.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: var(--container-resolution);
  width: var(--container-resolution);
  border-right: 2px dashed black;
  border-left: 2px dashed black;
}

.slider-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  --slider-res: 20px;
  margin: 0;
  width: 100%;
  height: var(--slider-res);
  background: blue;
  appearance: none;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(--slider-res);
  height: var(--slider-res);
  background: white; /* Green background */
  cursor: grab; /* Cursor on hover */
  border: 0px;
  border-radius: 0%;
}

.slider::-moz-range-thumb {
  width: var(--slider-res);
  height: var(--slider-res);
  background: white; /* Green background */
  cursor: grab; /* Cursor on hover */
  border: 0px;
  border-radius: 0%;
}

body {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

header {
  background-color: blue;
  color: white;
  height: 100px;
  width: var(--container-resolution);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 2px solid blue;
  gap: 0px;
}

section {
  width: var(--container-resolution);
}

section.options {
  height: var(--options-hg);
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  gap: 5%;
}

input#colorPicker {
  height: var(--options-hg);
  width: var(--options-hg);
  border: none;
  background-color: white;
  padding: 0px;
}

input#colorPicker:hover {
  cursor: pointer;
}

button {
  height: var(--options-hg);
  border: none;
  background-color: white;
  font-size: 15px;
  padding: 0px;
  text-transform: uppercase;
}

button:hover {
  color: blue;
  cursor: pointer;
}

footer {
  width: var(--container-resolution);
  text-align: right;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
  cursor: pointer;
}
